<?xml version="1.0" encoding="utf-8"?>
<XMLData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- To share photo on your mail or twitter account, fill the following fields.-->

	<!-- Use TWITTER to publish on Twitter, MAIL to publish on mail, BOTH to publish on both-->
	<WhereToPublish>BOTH</WhereToPublish>
	<!--Token>MyTweeterApiToken</Token>
	<TokenSecret>MyTweeterApiTokenSecret</TokenSecret>
	<ConsumerKey>MyTweeterApiTokenConsurmerKey</ConsumerKey>
  <ConsumerSecret>MyTweeterApiConsumerSecret</ConsumerSecret-->
	<UseKey>true</UseKey>
	<TwitterText>Bonjour les amis!/Salut les amis!</TwitterText>
	<TwitterHashtag>#CestLaFolie</TwitterHashtag>
	<!--AdressMailReceiver>mymailreceiver@gmail.com</AdressMailReceiver-->
	<!--AdressMailSender>mymailsender@gmail.com</AdressMailSender-->
	<!--PasswordMail>mypassword</PasswordMail-->
	<SubjectMail>C'est une belle photo</SubjectMail>
	<BodyMail>Effectivement c'est une très belle photo</BodyMail>
</XMLData>