<?xml version="1.0" encoding="utf-8"?>
<XMLData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<WhereToPublish>MAIL</WhereToPublish>
    <Token>3107499058-DtOkSKQVm9aXk7g8DsT9ZyNKeixWCdQ5bnkuB5y</Token>
    <TokenSecret>tszMyp6cFjeBb9k9raT7fxuHTCsw0g70eiMhJOmZYeJAG</TokenSecret>
    <ConsumerKey>HbjgvAlxXb4F9vPcDHKtxOC6t</ConsumerKey>
    <ConsumerSecret>PQQrjxJcTs40QA9h5Rwr8rpQuoMp1J6gexgfjNXfJS8wTlC1Ey</ConsumerSecret>
	<UseKey>false</UseKey>
    <TwitterText></TwitterText>
    <TwitterHashtag>#CestLaFolie</TwitterHashtag>
    <AdressMailReceiver>bfrdemo@gmail.com</AdressMailReceiver>
	<AdressMailSender>notif.buddy@gmail.com</AdressMailSender>
	<PasswordMail>autruchemagique</PasswordMail>
	<SubjectMail>test subject</SubjectMail>
	<BodyMail>test body mail</BodyMail>
</XMLData>