<?xml version="1.0" encoding="utf-8"?>
<PublicEditorSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Compilation>
        <CscPath>C:\Windows\Microsoft.NET\Framework64\v4.0.30319\csc.exe</CscPath>
    </Compilation>
    <CurrentServer>0</CurrentServer>
    <DebugCompilation>false</DebugCompilation>
    <AppToReopenAfterCreation />
</PublicEditorSettings>