<?xml version="1.0" encoding="Windows-1252"?>
<CompilationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CscPath>C:/Windows/Microsoft.NET/Framework64/v4.0.30319/csc.exe</CscPath>
  <UnityPath>C:/Program Files/Unity</UnityPath>
</CompilationSettings>