<?xml version="1.0" encoding="utf-8"?>
<BYFWSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <MajorVersion>0</MajorVersion>
    <MinorVersion>4</MinorVersion>
    <BuildVersion>2</BuildVersion>
    <RevisionVersion>3</RevisionVersion>
    <StateVersion>B</StateVersion>
    <EnableLoadDefaultApp>false</EnableLoadDefaultApp>
    <EnableLoadApps>true</EnableLoadApps>
    <DefaultAppID />
    <RemoteAppID />
    <CallAppID>CallApp</CallAppID>
    <DefaultAppScenePath />
    <EnableLogs>true</EnableLogs>
    <EnableLogInfo>true</EnableLogInfo>
    <EnableLogWarnings>true</EnableLogWarnings>
    <EnableLogErrors>true</EnableLogErrors>
    <LogContexts>
        <ContextEvidence>
            <Context>HARDWARE</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>UTILS</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>OPENCV</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>INTL_API</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>INTL_APP_MNG</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>INTL_NET</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>INTL_SYS</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>OS</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>UI</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>COMMAND</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>PRIMITIVE</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>INTERACTION</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>PERCEPTION</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>WEB_SERVICE</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>IOT</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>NAVIGATION</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>EDITOR</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>SIMULATION</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
        <ContextEvidence>
            <Context>APP</Context>
            <Enabled>true</Enabled>
        </ContextEvidence>
    </LogContexts>
    <BuiltInApps />
</BYFWSettings>